@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

* {
    font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
    * { font-family: 'Fira Code VF', monospace; }
}

html,
body {
    margin: 0;
}

hmi-interface {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #F1F1F9 0%, #B2B1BD 100%);
}

img {
    position: absolute;
}

.logo-image {
    top: 1rem;
    left: 3rem;
    width: 14rem;
}

.conveyor-image {
    top: 6rem;
    left: 3rem;
    width: 55rem;
}

io-panel {
    position: absolute;
    width: 57rem;
    height: 26rem;
    left: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

debug-panel {
    background: #FFFFFF50;
    position: absolute;
    width: 44rem;
    height: 26rem;
    right: 2rem;
    bottom: 2rem;
    border-radius: 12px;
    filter: drop-shadow(0 6px 24px #00000021);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    overflow: hidden;
}

input-panel,
output-panel {
    background: #FFFFFF50;
    width: 100%;
    height: 12rem;
    border-radius: 12px;
    filter: drop-shadow(0 6px 24px #00000021);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

counter-panel {
    position: absolute;
    background: #FFFFFF50;
    width: 44rem;
    height: 30rem;
    top: 2rem;
    right: 2rem;
    border-radius: 12px;
    filter: drop-shadow(0 6px 24px #00000021);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

counter-box {
    position: relative;
    background: #FFFFFF50;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    filter: drop-shadow(0 6px 24px #00000021);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

#rctr {
    background: #ff2b2b50;
    margin-left: 1rem;
    margin-right: 1rem;
}

#gctr {
    background: #2fef2950;
}

#yctr {
    background: #e4ff3750;
    margin-left: 1rem;
    margin-right: 1rem;
}

counter-label {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 700;
}

counter-int {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 700;
}

row-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

stat-item {
    position: relative;
    width: calc(57rem / 3);
    height: 100%;
}

item-lamp {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    background: #FF4B4B;
    border: 4px solid #FFFFFF80;
    border-radius: 50%;
}

item-label {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    left: 5.5rem;
    top: 1.8rem;
}

item-address {
    position: absolute;
    font-size: 1.1rem;
    font-weight: 400;
    left: 5.5rem;
    top: 3.3rem;
}

.focus {
    background: #51FF8C;
}

debug-message {
    width: 100%;
    height: calc(100% - 2rem);
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
}